.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #282c34;
  color: white;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.form input{
  margin: 10px;
  padding: 10px;
  width: 300px;
  font-size: 20px;
  border: 1px solid #282c34;
  border-radius: 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Black-f';
  src: url('./fonts/fontfont_ff.mark.pro.black-webfont.woff2') format('woff2'),
      url('./fonts/fontfont_ff.mark.pro.black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'med-f';
  src: url('./fonts/fontfont_ff.mark.pro.medium-webfont.woff2') format('woff2'),
          url('./fonts/fontfont_ff.mark.pro.medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'bold-f';
  src: url('./fonts/fontfont_ff.mark.pro.bold-webfont.woff2') format('woff2'),
          url('./fonts/fontfont_ff.mark.pro.bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'heavy-f';
  src: url('./fonts/fontfont_ff.mark.pro.heavy-webfont.woff2') format('woff2'),
          url('./fonts/fontfont_ff.mark.pro.heavy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mark_probold';
  src: url('./fonts/mark_pro_bold-webfont.woff2') format('woff2'),
          url('./fonts/mark_pro_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'reg-f';
  src: url('./fonts/fontfont_ff.mark.pro-webfont.woff2') format('woff2'),
       url('./fonts/fontfont_ff.mark.pro-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.App {
  height: 100vh;
  background-image: url("./images/bg-image.png");
  background-size: cover;
}

.App-header {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}